<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tallerpaginaweb</title>
</head>
<body><h1>TALLER WEB, FIN DE GUIA</h1>
    <ul>  
        <li><a href="{% url 'agregar_clientes' %}">Agregar clientes</a></li>
        <li><a href="{% url 'agregar_productos' %}">Agregar productos</a></li>
        <li><a href="{% url 'listar_clientes' %}">Clientes</a></li>
        <li><a href="{% url 'listar_productos' %}">Produtos</a></li>
        <li><a href="{% url 'registrar_ventas' %}">Registrar Ventas</a></li>
    </ul>   
</body>
</html>